*

!*/
!.gitignore
!.gitattributes
!Makefile

!*.S
!*.v
!*.sh

!*stats.txt
!*CAS_SC_OUT.txt 
!*VERILOG_SC_OUT.txt 
!*.INIT
!MC.txt
!DM.txt

!*.qdf 
!*.qip 
!*.qpf 
!*.qsf 
!*.qws 
!*.rpt 
!*.sdc

!*.ino
