*

!*/
!.gitignore
!.gitattributes
!Makefile

!*.S
!*.v
!*.sh

!*stats.txt
!*CAS_PL_OUT.txt 
!*CAS_SC_OUT.txt 
!*VERILOG_SC_OUT.txt 
!*VERILOG_PL_OUT.txt

!*.qdf 
!*.qip 
!*.qpf 
!*.qsf 
!*.qws 
!*.rpt 
!*.sdc

!*.ino
