*.vvp
*/hw_if_de10_lite/db
*/hw_if_de2_115/db
*/hw_if_de10_lite/incremental_db
*/hw_if_de2_115/incremental_db
*/PipeLine/.qsys_edit
*/PipeLine
*.vcd
*.rpt
*.summary
*.sof
*.pof
*.cdf
*.jdi
*.done
*.qws
*.smsg
*/singlecycle/test/Generated
*/hw_if_de10_lite/export_db
*/hw_if_de2_115/export_db
*.pin
/hw/hw_if_de10_lite/output_files
